* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 600px;
  height: 1000px;
  margin: 0 auto;
  background: #eff2f7;
}

.child {
  width: 300px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}
